* {
  margin: 0;
  padding: 0;
}

/* Universal styles */
body {
  color: #1d3c47;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

/* Navbar links styles */
.navbar__links {
  display: flex;
  list-style-type: none;
  gap: 10px;
  cursor: pointer;
}

/* Navbar active link */
.navbar__links--active {
  color: #b15f88;
}

/* Logo styles */
.navbar__logo {
  width: 200px;
  cursor: pointer;
}

/* Horizontal rule for the bottom of the navbar */
hr {
  width: 100%;
}

.section-one {
  background-image: url("./images/main-section-one-photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.section-one__button {
  padding: 10px;
  border-radius: 5px;
  background-color: #d4ccac;
  color: #1d3c47;
  cursor: pointer;
}

.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}
