* {
  margin: 0;
  padding: 0;
}

/* Universal styles */
body {
  color: #1d3c47;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

/* Navbar links styles */
.navbar__links {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

/* Navbar active link */
.navbar__links--active {
  color: #b15f88;
}

/* Logo styles */
.navbar__logo {
  width: 200px;
}

hr {
  width: 100%;
}
